{% extends "_layout.html" %}

{% block content %}

<style>
    form {
        text-align: left;
    }

    .btnSubmit {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
</style>

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Restaurant Impact on Category Sales</li>
                </ol>
            </nav>

            <br />
            <div class="align-items-center bg-purple rounded ">
                <h1 class="col-md-20">
                    <i class="bi bi-instagram"></i>
                    <p2>Restaurant Impact on Category Sales</p2>
                </h1>
            </div>

            <br />
            <div class="align-items-center bg-purple rounded" id="divReport8">
                <div class="col-md-10">
                    {% if report8 %}
                    {% regroup report8 by Category as data_by_ctgy %}
                    <table class="table table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Category</th>
                                <th scope="col">Store Type</th>
                                <th scope="col">Quantity Sold</th>
                        </thead>
                        <tbody>
                            {% for tuple in data_by_ctgy %}
                            {% for tuple_ctgyi in tuple.list %}
                            <tr>
                                {% if forloop.first %}
                                <td class="align-middle" rowspan="{{ tuple.list|length }}">{{ tuple.grouper }}</td>
                                {% endif %}
                                <td>{{ tuple_ctgyi.StoreType }}</td>
                                <td>{{ tuple_ctgyi.QuantitySold }}</td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        <p class="align-middle">No Records!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}