{% extends "_layout.html" %}

{% block content %}

<style>
    form {
        text-align: left;
    }

    .btnSubmit {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
</style>

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Advertising Campaign Analysis</li>
                </ol>
            </nav>

            <br />
            <div class="align-items-center bg-purple rounded ">
                <h1 class="col-md-8">
                    <i class="bi bi-instagram"></i>
                    <p2>Advertising Campaign Analysis</p2>
                </h1>
            </div>

            <br />
            <div class="align-items-center bg-purple rounded" id="divReport9">
                <div class="col-md-10">
                    {% if report9 %}
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Sold During Campaign</th>
                                <th scope="col">Sold Outside Campaign</th>
                                <th scope="col">Difference</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tuple in report9 %}
                            <tr>
                                <th scope="row"></th>
                                <td>{{ tuple.ProductID }}</td>
                                <td>{{ tuple.ProductName }}</td>
                                <td>{{ tuple.SoldDuringCampaign }}</td>
                                <td>{{ tuple.SoldOutsideCampaign }}</td>
                                <td>{{ tuple.Difference }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        <p>No Records!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}