{% extends "_layout.html" %}

{% block content %}

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Store Revenue by Year by State</li>
                </ol>
            </nav>

            <br />
            <div class="align-items-center bg-purple rounded ">
                <h1 class="col-md-20">
                    <i class="bi bi-instagram"></i>
                    <p2>Store Revenue by Year by State</p2>
                </h1>
            </div>

            <br />
            <div class="align-items-center bg-purple rounded" id="divReport3">
                <div class="col-md-10">
                    {% if report3 %}
                    <table class="table table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Store ID</th>
                                <th scope="col">Store Address</th>
                                <th scope="col">City Name</th>
                                <th scope="col">Sales Year</th>
                                <th scope="col">Total Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tuple in report3 %}
                            <tr>
                                <td>{{ tuple.Store_ID }}</td>
                                <td>{{ tuple.Street_Address }}</td>
                                <td>{{ tuple.City_Name }}</td>
                                <td>{{ tuple.Year }}</td>
                                <td>{{ tuple.Revenue }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        <p>No Records!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}