{% extends "_layout.html" %}

{% block content %}

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'report5_state_with_highest_volume' %}">Get Year and Month List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">State with Highest Sales Volume</li>
                </ol>
            </nav>

            <br />
            <div class="align-items-center bg-purple rounded ">
                <h1 class="col-md-20">
                    <i class="bi bi-instagram"></i>
                    <p2>States with Highest Sales Volume</p2>
                </h1>
            </div>

            {% if message %}
            <br/>
            <div class="align-items-center rounded alert" role="alert" id="divMessage" >
                {{ message }}
            </div>
            {% endif %}

            <div class="align-items-center bg-purple rounded" id="divReport5">
                <div class="col-md-10">
                    {% if report5 %}
                    <table class="table table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Category Name</th>
                                <th scope="col">States with Highest Volume</th>
                                <th scope="col">Number of Units Sold</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tuple in report5 %}
                            <tr>
                                <td>{{ tuple.Category_Name }}</td>
                                <td>{{ tuple.State_Location }}</td>
                                <td>{{ tuple.Tot_UnitSold }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        <p>No Records!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}