{% extends "_layout.html" %}

{% block content %}

<style>
    .list-group-item:not(.active):hover {
        background-color: #00ff73;
    }
</style>

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <div class="container-fluid text-center">
                <h1>
                    <i class="bi bi-speedometer2"></i>
                    Dashboard
                </h1>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px">
        <div class="col-md-10">
            <div class="row" style="margin:  10px">
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card text-white bg-primary" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-right">{{ count_stores_offering_childcare }}</h5>
                            <p class="card-text">Count of stores offering childcare</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card bg-dark text-white" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-right">{{ count_products }}</h5>
                            <p class="card-text">Count of products</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card bg-danger text-white" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-right">{{ count_distinct_advertising_campaigns }}</h5>
                            <p class="card-text">Count of distinct advertising campaigns</p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row" style="margin:  10px">
                <div class="col-md-4 offset-md-2 d-flex align-items-stretch">
                    <div class="card bg-warning text-dark" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-right">{{ count_stores }}</h5>
                            <p class="card-text">The count of stores</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card bg-success text-white" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-right">{{ count_stores_offering_food }}</h5>
                            <p class="card-text">Count of stores offering food</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if status != "success" %}
    <div class="align-items-center rounded alert alert-warning" role="alert" id="divMessage" style="margin: 10px">
        {{ status }}
    </div>
    {% endif %}

    <div class="row" style="margin: 15px">
        <div class="col-md-10">
            <div class="row" style="margin: 10px">
                <div class="list-group col-md-6">
                    <span class="list-group-item list-group-item-action list-group-item-primary text-center active">
                        Reporting </span>
                    <a href="#" class="list-group-item list-group-item-action">Category</a>
                    <a href="#" class="list-group-item list-group-item-action">Actual versus Predicted Revenue for
                        Couches and Sofas</a>
                    <a href="#" class="list-group-item list-group-item-action">Store Revenue by Year by State</a>
                    <a href="#" class="list-group-item list-group-item-action">Outdoor Furniture Revenue</a>
                    <a href="#" class="list-group-item list-group-item-action">State with Highest Volume</a>
                    <a href="#" class="list-group-item list-group-item-action">Revenue by Population</a>
                    <a href="#" class="list-group-item list-group-item-action">Childcare Sales Volume</a>
                    <a href="{% url 'report8_restaurant_impact_on_category_sales' %}"
                        class="list-group-item list-group-item-action">Restaurant Impact on Category Sales</a>
                    <a href="#" class="list-group-item list-group-item-action">Advertising Campaign Analysis</a>
                </div>
                <div class="list-group col-md-6">
                    <span class="list-group-item list-group-item-action list-group-item-primary text-center active">
                        Maintenance </span>
                    <a href="{% url 'population' %}" class="list-group-item list-group-item-action">Population
                        Maintenance</a>
                    <a href="{% url 'holiday' %}" class="list-group-item list-group-item-action">Holiday Maintenance</a>
                </div>
            </div>
        </div>
    </div>

</main>


{% endblock %}