{% extends "_layout.html" %}

{% block content %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'holiday' %}">Holiday List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Holiday</li>
                </ol>
            </nav>

            <br/>
            <div class="align-items-center bg-purple rounded">
                <h2 class="col-md-10">
                    <i class="bi bi-camera"></i>
                    <p2>Holiday Maintenance - Add Holiday</p2>
                </h2>
            </div>

            <br/>
            <div class="align-items-center bg-purple rounded">
                <h5 class="col-md-10 text-info">
                    Please fill in both Holiday Name and Holiday Date to add holiday.
                </h5>
            </div>

            <br/>
            <div class="container-md" style="margin:  20px">
                <div class="row">
                    <div class="align-items-center bg-purple rounded" id="divAddHoliday">
                        <form action="/reporting/holiday/add_holiday/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="holiday_name">Holiday Name: </label>
                                <input class="form-control" id="holiday_name" type="text" name="holiday_name" placeholder="Enter Holiday Name" maxlength="50" autocomplete="off" value="" required >
                            </div>
                            <div class="form-group">
                                <label for="holiday_name">Holiday Date:</label>
                                <input id="holiday_date" class="form-control" type="text" name="holiday_date" placeholder="Select Holiday Date" autocomplete="off" readonly required >
                            </div>
                            <br/>
                            <button type="submit" class="btnSubmit btn btn-lg btn-secondary" id="btnSubmit" disabled>Add Holiday</button>
                        </form>
                    </div>
               </div>
            </div>

            {% if message %}
            <br/>
            <div class="align-items-center rounded alert {% if isWarning %}alert-danger{% else %}alert-info{% endif %}" role="alert" id="divMessage" >
                {{ message }}
            </div>
            {% endif %}
        </div>
    </div>
</main>

<script>
$( document ).ready(function() {
    $( '#holiday_date' ).datepicker({
        dateFormat: 'yy-mm-dd',
    });

    $('#holiday_name').on('input',function(e){
        SubmitButtonStatus();
    });

    $('#holiday_date').on('change',function(e){
        SubmitButtonStatus();
    });

    function SubmitButtonStatus(){
        var holiday_name = $('#holiday_name').val();
        var holiday_date = $('#holiday_date').val();

        if(holiday_name != "" && $.trim(holiday_name).length > 0 && holiday_date != "" ) {
            $("#btnSubmit").attr("disabled", false);
            $("#btnSubmit").removeClass("btn-secondary").addClass("btn-primary active");
        } else {
            $("#btnSubmit").attr("disabled", true);
            $("#btnSubmit").removeClass("btn-primary").removeClass("active").addClass("btn-secondary");
       }
    }

});
</script>

{% endblock %}