{% extends "_layout.html" %}

{% block content %}

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Population Maintenance</li>
                </ol>
            </nav>

            <div class="align-items-center  bg-purple rounded ">
                <h1 class="mb-4">
                    <i class="bi bi-people"></i>
                    <p2>Population</p2>
                </h1>
            </div>

            <div class="align-items-center bg-purple rounded" id="divCityPopulation">
                <form action="/reporting/population/" method="post">
                    {% csrf_token %}
                    <div class="col-xs-12 form-group">
                        <label class="col-xs-4" for="city_state_location">State:</label>
                        <select class="col-xs-8 form-control" name="city_state_location" id="city_state_location" data-placeholder="Select State"  required="required">
                            <option value="-1">Select State</option>
                            {% for state in state_list %}
                            <option value="{{ state.State_Location }}">{{ state.State_Location }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-xs-4" for="city_name">City:</label>
                        <select class="col-xs-8 form-control" name="city_name" id="city_name" data-placeholder="Select City" class="form-control" required="required" disabled>
                        </select>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label class="col-xs-4"  for="city_population">Population:</label>
                        <input class="col-xs-8 form-control" type="text" id="city_population" name="city_population" onkeyup="value=value.replace(/[^\d]/g,'')" required="required" autocomplete="off"  readonly>
                        <input class="col-xs-8 form-control" type="hidden" id="hid_city_population" name="hid_city_population" style="display: none" value="">
                    </div>
                    <div class="col-xs-12 form-group">
                        <input class="btnSubmit btn btn-lg btn-secondary" id="btnSubmit" type="submit" value="Update Population" disabled/>
                    </div>
                </form>
            </div>

            <div class="align-items-center bg-purple rounded" id="divMessage">
                <input type="hidden" id="hidStatus" value="{{status}}"/>
                <input type="hidden" id="hidMessage" value="{{message}}"/>
                <div id= "divSuccessMessage" class="alert alert-success" role="alert" style="display: none"> </div>
                <div id= "divFailureMessage" class="alert alert-danger" role="alert" style="display: none"> </div>
            </div>
        </div>
    </div>
</main>



<script>

    $( document ).ready(function() {
        ShowAlertDiv();
    });

    $("#city_state_location").change(function() {
            ClearAlertMessage();

            var state_location = $("#city_state_location option:selected");
            if (typeof state_location === "undefined" || state_location.val() === "" ) {
                $("#hidStatus").val("failed");
                $("#hidMessage").val("Please select appropriate state.");
                ShowAlertDiv();
                return;
            }

            if (state_location.val() === "-1" ) {
                $('#city_name').html('');
                $('#city_name').attr("disabled", true);
                $('#city_population').val('')
                $("#city_population").attr("readonly", true);
                $('#hid_city_population').val('')
                $("#btnSubmit").attr("disabled", true);
                $("#btnSubmit").removeClass("btn-primary").removeClass("active").addClass("btn-secondary");
                return;
            }

            $.ajax({
                url: '/reporting/population/get_city_list',
                data: {"city_state_location": state_location.val()},
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    var selectContent="<option value='-1'>Select City</option>";
                    $.each(response, function(i, item){
                        selectContent += "<option value='"+item.city_name+"'>" + item.city_name + "</option>"
                    });
                    $('#city_name').html(selectContent);
                    $('#city_name').attr("disabled", false);
                    $('#city_population').val('');
                    $("#city_population").attr("readonly", true);
                    $('#hid_city_population').val('')
                    $("#btnSubmit").attr("disabled", true);
                    $("#btnSubmit").removeClass("btn-primary").removeClass("active").addClass("btn-secondary");
                 },
                 fail: function() {
                    $("#hidStatus").val("failed");
                    $("#hidMessage").val("Exception when get city list");
                    ShowAlertDiv();
                 },
            })
        })

    $("#city_name").change(function() {

            ClearAlertMessage();

            var state_location = $("#city_state_location option:selected");
            var city_name = $("#city_name option:selected");

            if (typeof state_location === "undefined" || typeof city_name === "undefined"
                || state_location.val() == "" || city_name.val() === "" ) {
                $("#hidStatus").val("failed");
                $("#hidMessage").val("Please select appropriate state and city");
                ShowAlertDiv();
                return;
            }

            if (city_name.val() === "-1" ) {
                $('#city_population').val('');
                $("#city_population").attr("readonly", true);
                $('#hid_city_population').val('')
                $("#btnSubmit").attr("disabled", true);
                $("#btnSubmit").removeClass("btn-primary").removeClass("active").addClass("btn-secondary");
                return;
            }

            $.ajax({
                url: '/reporting/population/get_city_population',
                data: {
                    "city_state_location": state_location.val(),
                    "city_name": city_name.val()
                },
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    $('#city_population').val(response[0].Population)
                    $("#city_population").attr("readonly", false);
                    $('#hid_city_population').val(response[0].Population)
                    $("#btnSubmit").attr("disabled", true);
                    $("#btnSubmit").removeClass("btn-primary").removeClass("active").addClass("btn-secondary");
                 },
                 fail: function() {
                    $("#hidStatus").val("failed");
                    $("#hidMessage").val("Exception when get city population");
                    ShowAlertDiv();
                 },
            })
        })

        $('#city_population').on('input',function(e){
            ClearAlertMessage();

            if($('#city_population').val() == "" || $('#city_population').val().length > 12) {
                $("#btnSubmit").attr("disabled", true);
                $("#btnSubmit").removeClass("btn-primary").removeClass("active").addClass("btn-secondary");
                $("#hidStatus").val("failed");
                $("#hidMessage").val("Inputted city population is invalid.");
                ShowAlertDiv();
                return;
            }

            if($('#city_population').val() == $('#hid_city_population').val())
            {
                $("#btnSubmit").attr("disabled", true);
                $("#btnSubmit").removeClass("btn-primary").removeClass("active").addClass("btn-secondary");
                return;
            }


            $("#btnSubmit").attr("disabled", false);
            $("#btnSubmit").removeClass("btn-secondary").addClass("btn-primary active");
        });

    function ShowAlertDiv() {
        if ($("#hidStatus").val() == "success" && $("#hidMessage").val().length > 0 ) {
        $("#divFailureMessage").css('display','none');
        $("#divSuccessMessage").html($("#hidMessage").val());
        $("#divSuccessMessage").css('display','block');
        } else if ($("#hidStatus").val() == "failed" && $("#hidMessage").val().length > 0 ) {
        $("#divSuccessMessage").css('display','none');
        $("#divFailureMessage").html($("#hidMessage").val());
        $("#divFailureMessage").css('display','block');
        }
    }

    function ClearAlertMessage(){
        $("#hidMessage").val('');
        $("#hidStatus").val('');
        $("#divSuccessMessage").html('');
        $("#divSuccessMessage").css('display','none');
        $("#divFailureMessage").html('');
        $("#divFailureMessage").css('display','none');
    }

</script>


{% endblock %}