{% extends "_layout.html" %}

{% block content %}

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Outdoor Furniture Revenue</li>
                </ol>
            </nav>

            <br />
            <div class="align-items-center bg-purple rounded ">
                <h1 class="col-md-20">
                    <i class="bi bi-instagram"></i>
                    <p2>Outdoor Furniture Revenue</p2>
                </h1>
            </div>

            <br />
            <div class="align-items-center bg-purple rounded" id="divReport4">
                <div class="col-md-10">
                    {% if report4 %}
                    <table class="table table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Year</th>
                                <th scope="col">Total Number of Items Sold</th>
                                <th scope="col">Average Number of Items Sold per Day</th>
                                <th scope="col">Total Number of Items Sold on Groundhog Day</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tuple in report4 %}
                            <tr>
                                <td>{{ tuple.Year }}</td>
                                <td>{{ tuple.Tot_Quantity }}</td>
                                <td>{{ tuple.Avg_Quantity }}</td>
                                <td>{{ tuple.GhDay_Quantity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        <p>No Records!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}