{% extends "_layout.html" %}

{% block content %}

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'report3_store_revenue_by_year_by_state' %}">Get State List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Store Revenue by Year by State</li>
                </ol>
            </nav>

            <br />
            <div class="align-items-center bg-purple rounded ">
                <h2 class="col-md-20">
                    <i class="bi bi-instagram"></i>
                    <p2>Store Revenue by Year by State</p2>
                </h2>
                {% if message %}
                <div class="align-items-center rounded alert" role="alert" id="divMessage" >
                   <h4>{{ message }}</h4>
                </div>
                {% endif %}
            </div>

            <div class="align-items-center bg-purple rounded" id="divReport3">
                <div class="col-md-12">
                    {% if report3 %}
                    <table class="table table-bordered table-sm text-center">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="align-middle">Store ID</th>
                                <th scope="col" class="align-middle">Store Address</th>
                                <th scope="col" class="align-middle">City Name</th>
                                <th scope="col" class="align-middle">Sales Year</th>
                                <th scope="col" class="align-middle">Total Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tuple in report3 %}
                            <tr>
                                <td class="align-middle">{{ tuple.Store_ID }}</td>
                                <td class="align-middle">{{ tuple.Street_Address }}</td>
                                <td class="align-middle">{{ tuple.City_Name }}</td>
                                <td class="align-middle">{{ tuple.Year }}</td>
                                <td class="align-middle">{{ tuple.Revenue }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        <p>No Records!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}