{% extends "_layout.html" %}

{% block content %}

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Revenue by Population</li>
                </ol>
            </nav>

            <br />
            <div class="align-items-center bg-purple rounded ">
                <h2 class="col-md-20">
                    <i class="bi bi-instagram"></i>
                    <p2>Revenue by Population</p2>
                </h2>
            </div>

            <br />
            <div class="align-items-center bg-purple rounded" id="divReport6">
                <div class="col-md-12">
                    {% if report6 %}
                    <table class="table table-bordered table-sm text-center">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="align-middle">Years</th>
                                <th scope="col" class="align-middle">Small City <br/> (population < 3,700,000))</th>
                                <th scope="col" class="align-middle">Medium City <br/> (population >=3,700,000 and <6,700,000) </th>
                                <th scope="col" class="align-middle">Large City <br/> (population >=6,700,000 and <9,000,000) </th>
                                <th scope="col" class="align-middle">Extra Large City <br/>  (population >=9,000,000)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tuple in report6 %}
                            <tr>
                                <td class="align-middle">{{ tuple.Years }}</td>
                                <td class="align-middle">{{ tuple.SmallCity }}</td>
                                <td class="align-middle">{{ tuple.MediumCity }}</td>
                                <td class="align-middle">{{ tuple.LargeCity }}</td>
                                <td class="align-middle">{{ tuple.ExtraLargeCity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        <p>No Records!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

