{% extends "_layout.html" %}

{% block content %}

<main class="container" role="main">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Category</li>
                </ol>
            </nav>

            <br />
            <div class="align-items-center bg-purple rounded ">
                <h2 class="medium col-md-20">
                    <i class="bi bi-instagram"></i>
                    <p2>Category</p2>
                </h2>
            </div>

            <br />
            <div class="align-items-center bg-purple rounded" id="divReport1">
                <div class="col-md-12">
                    {% if report1 %}
                    <table class="table table-bordered table-sm">
                        <thead class="thead-light text-center">
                            <tr>
                                <th scope="col" class="align-middle">Category Name</th>
                                <th scope="col" class="align-middle">Total Number of Products</th>
                                <th scope="col" class="align-middle">Minimum Regular Retail Price</th>
                                <th scope="col" class="align-middle">Average Regular Retail Price</th>
                                <th scope="col" class="align-middle">Maximum Regular Retail Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tuple in report1 %}
                            <tr class="text-center">
                                <td class="align-middle">{{ tuple.Cate_Name }}</td>
                                <td class="align-middle">{{ tuple.Cnt_Product }}</td>
                                <td class="align-middle">{{ tuple.Min_RtlPrc|floatformat:2 }}</td>
                                <td class="align-middle">{{ tuple.Avg_RtlPrc|floatformat:2 }}</td>
                                <td class="align-middle">{{ tuple.Max_RtlPrc|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info text-left" role="alert">
                        <p>No Records!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}